* {
margin: 0;
padding: 0;
box-sizing: border-box;

}

.icon {
width: 1em;
height: 1em;
vertical-align: -0.15em;
fill: currentColor;
overflow: hidden;}

body {
  background-color: #EFEFEF;
  color: black;
}

a {
  text-decoration: none;
  color: #fff;
}

.clearfix:after {content: "";display: block;height: 0;visibility: hidden;line-height: 0;clear: both;}

hr {
  height: 0;
  border: none;
  border-top: 1px solid #DEDEDE;
}

.swiper-container {
  width: 800px;
  height: 500px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
} 
.swiper-button-prev,
.swiper-button-next {
  color: rgb(0, 122, 255);
  top: 58%;
  background-color: #DDD;
  width: 64px;
  height: 64px;
  border-radius: 50%;
}
.swiper-button-prev {
  left: -10px;
}
.swiper-button-next {
  right: -10px;
}
.site-welcome {
  display: none;
  position: fixed;
  top: 0;left: 0;width: 100%;height: 100%;
  background: #ccc;
  z-index: 1;
  justify-content: center;
  align-items: center;
}
.site-welcome.active {
  display: flex;

}
.loading {
  width: 200px;
  height: 200px;
  position: relative;
}

.loading::before,.loading::after {
  content: '';
  position: absolute;
  width: 0px;
  height: 0px;
  background: black;
  border-radius: 50%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  animation: s 1s linear infinite;
}
.loading::after{
  animation-delay: 0.5s;
}
@keyframes s{
  0%{
      width: 0px; height: 0px;opacity: 1;
  }
  100%{
      width: 100px;height: 100px;opacity: 0;
  }
}
[data-x].offset {
  transform: translateY(130px);
}
[data-x] {
  transform: translateY(0);
  transition: all 1s;
}
.topNavBar {
  height: 43px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  transition: all 0.5s;
  color: #9da0a7;
  cursor: pointer;
}
.topNavBar.sticky{
  background: #FFF;
  color: #000;
  z-index: 10;
  padding: 3px 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  color: #3d4451;
}
.topNavBar-inner {
  padding-right: 16px;
  padding-left: 16px;
}

.logo {
  float: left;
}

.topNavBar>a .rs {
  color: #e8676b;
  font-family: "Arial Black";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  margin-right: 3px;
  line-height: 43px;
}

.topNavBar>a .card {
  font-family: "Arial Black";
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  color: #9a9da2;
  line-height: 43px;
}

.topNavBar-inner > nav > ul > li {
  float: left;
  padding-top: 9px; 
  margin-right: 24px;
  margin-left: 24px;
  height: 43px;
  position: relative;
}
.topNavBar-inner .menuTigger.active .submenu {
  position: absolute;
  display: block;
  z-index: 10;
  animation: submenuSlide 0.3s;
}
@keyframes submenuSlide {
  0%{
    margin-right: 100%;
  }
  100%{
    margin-right: 0%;
  }
}
.topNavBar-inner .submenu {
  display: none;
  position: absolute;
  z-index: 10;
  right: 0;
  top: 100%;
  cursor: pointer;
  color: #3d4451;
  background-color: #EFEFEF;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
  border: 1px solid black;
  border-top:0px;
}
.topNavBar-inner .submenu > li {
  white-space:nowrap; 
  padding: 5px 25px;
  border-top: 1px solid black;
  background-color:#efefef; 
}
.topNavBar>.topNavBar-inner>nav {
  float: right;
}

.topNavBar ul li a {
  font-size: 16px;
  font-family: "Open Sans";
  color: inherit;
  font-weight: 400;
  line-height: 1;
  padding-top: 5px;
  padding-bottom: 5px;
  display: block;
  position: relative;
}
.topNavBar ul li.active a::after,
.topNavBar ul li.highlight a::after {
  content: '';
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 3px;
  background: #e8676b;
  border-radius:1px; 
  animation: menuSlide 0.3s;
  
}

@keyframes menuSlide {
  0%{
    width: 0;
  }
  100%{
    width: 100%;
  }
}
.topNavBar ul {
  list-style: none;
}

.banner {
  background-image: url(../images/wallhaven-488322.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 515px;
  width: 100%;
}

.banner .mask {
  height: 515px;
  background-color: rgba(0, 0, 20, 0.5);
}

.userCard .picture {
  float: left;
}

.userCard .text {
  float: left;
  margin-left: 65px;
  width: 518px;
}

.userCard {
  max-width: 930px;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 0px 3px 12px 0px rgba(0, 0, 0, 0.3);
}

.userCard .welcome {
  background-color: #e8676b;
  color: #fff;
  display: inline-block;
  /* width: 70px;
  height: 29px;
  line-height: 29px;
  text-align: center; */
  font-size: 14px;
  font-weight: 700;
  line-height: 1.1;
  padding: 5px 15px;
  position: relative;
  margin-bottom: 29px;
  text-transform: uppercase;
}

.userCard .pictureAndText {
  padding: 40px 50px;
}

.welcome .triangle {
  display: inline-block;
  border: 9px solid transparent;
  width: 0px;
  height: 0px;
  border-top-width: 0px;
  border-left-color: #e8676b;
  position: absolute;
  top: 100%;
  left: 10px;
}

.userCard .text h1 {
  margin-bottom: 10px;
}

.userCard .text p {
  margin-bottom: 18px;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.1;
}

.userCard .text hr {
  margin-bottom: 32px;
}

.userCard .text dt,
.userCard .text dd {
  float: left;
  margin-bottom: 15px;
  font-size: 15px;
  font-weight: 700;
  line-height: 15px;
  color: #333333;
}

.userCard .text dd {
  color: #9da0a7;
  width: 70%;
}

.userCard .text dt {
  width: 30%;
}

.userCard>footer.media {
  background-color: #E8676B;
  text-align: center;
  padding: 25px 0px;
}

.userCard svg {
  width: 20px;
  height: 20px;
  fill: white;
}

.userCard>footer.media>a {
  margin: 0px 40px;
  display: inline-block;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  line-height: 40px;
  transition: 0.2s;
}

.userCard>footer.media>a:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

body>main {
  margin-top: -340px;
}

body>main .button {
  border: 1px solid #CDCFD1;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  line-height: 16px;
  padding: 21px 55px;
  color: #3D4451;
  border-radius: 2%;
  margin-top: 45px;
  transition: box-shadow 0.3s;
}

body>main .downloadResume {
  text-align: center;
}

body>main .button:hover {
  box-shadow: 0px 3px 13px -3px rgba(0, 0, 0, 0.75);
}

.selfIntroduction {
  max-width: 930px;
  margin: 20px auto;
  text-align: center;
  font-family: "Open Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
}

section.Portfolio,
section.skills { 
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px; 
  
}
section.message>h2,
section.Portfolio>h2,
section.skills>h2 {
  color: #3d4451;
  font-size: 34px;
  line-height: 1.2;
  font-weight: 600;
  text-align: center;
}

section.skills>ol {
  background: white;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.55);
  list-style: none;
  margin-top: 30px;
  padding: 42px 50px 10px;
}

section.skills>ol>li:nth-child(even) {
  padding-left: 18px;
}

section.skills li {
  float: left;
  width: 50%;
}

section.skills h3 {
  font-family: "Open Sans";
  line-height: 1.1;
  font-size: 14px;
  font-weight: 400;
}

section.skills .progressBar {
  height: 5px;
  background-color: #FAE1E1;
  border-radius: 5px;
  margin: 4px 0 40px;
  overflow: hidden;
}

section.skills .progressBar>.progress {
  height: 5px;
  border-radius: 2px;
  background-color: #E8676B;
  width: 70%;
  transform: translateX(0);
  transition: all 2s;
 
}
section.skills.offset .progress {
  transform: translateX(-100%)
}
section.Portfolio {
  text-align: center;
  margin-bottom: 100px;
}

section.Portfolio>nav {
  display: inline-block;
  vertical-align: top;
  margin: 32px;
  text-align: center;
  font-family: "Open Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
}

section.Portfolio>nav>ol {
  margin: 0 auto;
  display: inline-block;
  vertical-align: top;
}

section.Portfolio>nav>ol>li {
  float: left;
  list-style: none;
  margin-left: 40px;
  cursor: pointer;
}

section.Portfolio>nav>ol>li:first-child {
  margin-left: 0;
}

section.Portfolio .works{ position: relative;margin-top:30px;  } 
section.Portfolio .works > .big, section.Portfolio .works > .small { position: absolute; }
section.message {
  max-width: 940px;
  margin: 0 auto;
}
section.message > ol > li {
  padding: 16px;
  border-bottom: 1px solid #DDD;
}
section.message>ol{
  max-width: 800px;
  margin:0 auto;
  border-bottom: 1px solid #DDD;
  background: #f4f4f4;
  list-style: none;
}
section > #postMessageForm {
  max-width: 800px;
  margin: 0 auto;
}
section > #postMessageForm > input[type=text] {
 padding: 5px;
}